<div class="home-content">
  <div class="product-categories">
    <ul>
      <li><a href="#">Television</a></li>
      <li><a href="#">Clothes</a></li>
      <li><a href="#">fruits</a></li>
      <li><a href="#">Vegetables</a></li>
      <li><a href="#">Mobiles</a></li>
      <li><a href="#">Electronicns</a></li>
    </ul>
  </div>
  <div class="products">
    <ul>
    <li>
     <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </li>

    <li>
      <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </li>
   <li>
      <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </li>

    <li>
      <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </li>

     <li>
      <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </li>
    </ul>
    

  </div>
</div>