<div class="navbar">
  <div class="logo">
    <p>My Cart</p>
  </div>
  <div class="navbar-contenr">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="user-detail">
         <span class="user-image">&amp;</span>

         <span class="user-name">Hi {{userName}}</span>
         <span class="user-cart">cart</span>
  </div>
   
  
</div>