.navbar{
  
  height: 10vh;
  width: 100%;
  border:1px slategrey solid;
  display: grid;
  grid-template-columns: 1% 1fr 2fr 2fr 1fr 1%;
  justify-items: center;
  align-items: center;
  .logo{
    grid-column: 2/3;
    font-size: 20px;
    color: royalblue;
    text-decoration: none;
  }
  .search-products{
    grid-column: 3/4;
    
  }
  .navbar-content{
    grid-column: 4/5;
    ul{
      display:flex;
      list-style: none;
      text-decoration: none;
      li{
        text-decoration: none;
        font-size:14px;
        padding-left: 10px;
        
      }

    }
  }
  .user-info{
    grid-column: 5/6;
    display: inline-block;
    .user-image{
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: grey;
    }
  }
  .shopping-cart{
    grid-column: 6/7;
    
    ul{
      list-style: none;
      li{
        text-decoration: none;
        line-height: 1em;
       
        span{
          background-color:grey;
          padding:2px; 
          margin-left: 5px;
          font-size: 10px; 
          border-radius: 30%; 
          color:white;  

          
        }
      }
    }
    fa-icon{
      font-size: 20px;
      color:black;
    }
  }

}